# Virtual environments
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# PyTest
.pytest_cache/
.cache/

# Test artifacts
screenshots/
*.png
report.html
allure-results/

# IDE / OS
.idea/
.vscode/
.DS_Store
